.parent-banner {
    position: relative;
    margin: auto;
    height: 250px;
    width: 100%;
    display: flex;
}

.background-banner {
    border-radius: 25px;
    margin: auto;
    height: 250px;
    width: 100%;
    overflow: hidden;
    position: absolute;
    filter: brightness(0.7);

}

.title-banner {
    font-family: 'Montserrat', sans-serif;
    color: #FFFF !important;
    font-size: 48px;
    position: relative;
    margin: auto;
}
@media screen and (max-width: 800px) {
    .parent-banner{
        height: 100%;
        overflow: hidden;
    }
    .background-banner {
        height: 100%;
        width: 100%;
    }
    .title-banner{
        font-size: 28px;
        padding-right: 100px;
        margin: 30px;
        padding-bottom: 130px;
    }
}